<div class="bodyWrapper">
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/listar">Listar</a>
        <a mat-list-item routerLink="/crear">Crear</a>
        <!-- <a mat-list-item routerLink="/eliminar">Eliminar</a> -->
        <!-- <a mat-list-item routerLink="/listar" (click)="drawer.toggle()" (click)="toggleSidenav()">Listar</a>
        <a mat-list-item routerLink="/crear" (click)="drawer.toggle()" (click)="toggleSidenav()">Crear</a>
        <a mat-list-item routerLink="/eliminar" (click)="drawer.toggle()" (click)="toggleSidenav()">Eliminar</a> -->
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>

  <div class="contentContainer">
    <div class="sidenav-content">
      <button class="buttonSide" type="button" (click)="drawer.toggle()" (click)="toggleSidenav()">
        <svg [@fadeIn] *ngIf="!showFiller" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
          <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
        </svg>
        <svg [@fadeIn] *ngIf="showFiller" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
          <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>
      </button>
    </div>
    <div class="routerContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>